@page
@model Test.Pages.Contacts
@{
    ViewData["Title"] = "Contacts";
}

<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-4">
            <p class="text-center"><img src="img/call.png" class="contactimg"></p> 
            <h5 class="text-center">Позвоните нам</h5>
            <br>
            <P class="text-center">Есть вопросы? Мы поможем!</P>
            <p class="text-center text-primary">88005553535</p>
        </div>
        <div class="col-md-4">
            <p class="text-center"><img src="img/communication.png" class="contactimg"></p> 
            <h5 class="text-center">Напишите нам</h5>
            <br>
            <p class="text-center">Идея? Предложение? Мы открыты для любых вопросов!</p>
            <p class="text-primary text-center">Написать на : dwd1@inbox.ru</p>
            <p class="text-center"><a href="https://vk.com/id152295144">Мы в вк</a></p>
        </div>
        <div class="col-md-4">
            <p class="text-center"><img src="img/smartphone.png" class="contactimg text-center"></p> 
            <h5 class="text-center">Обратная связь</h5>
            <br>
            <p class="text-center">Поделитесь мнением о нашей работе  и помогите нам стать лучше!</p>
            <p class="text-primary text-center"><a href="">Оставить отзыв</a></p>
        </div>
    </div>
</div>